!!!
%html
%body
  #header

  #container
    #side-content
      .user-info
        .User-info__name 
          %span
          = current_user.name
        = link_to edit_user_registration_path do
          %i.fa.fa-cog
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
      .groups
        .group__name SotaTakahara
        .group__last__massage プログラミング難しい

    #main-content
      .selected-group
        .selected-group__name Mentors

        .selected-group__members Members : sotatakahara

        .selected-group__edit-box 
          = link_to edit_group_path(:id) do
            .selected-group__edit-box__text Edit
      .message-area 
        .messages 
          .message-info
            .message-info__owner SotaTakahara
            .message-info__updated-time 2017/2/6 22:45:30
          .massage-content プログラミング難しい
      .massage-input
        %textarea.placeholder
          type a message
        %i.fa.fa-image
        .send-box
          .send-box__text Send

