!!!
%html
%body
  #header
    %p チャットグループが作成されました
  #container
    
    #side-content

      .user-info
        .User-info__name Sota Takahara
        %i{class:"fa fa-cog"}
        %i{class:"fa fa-pencil-square-o"}

      .groups
        .group__name SotaTakahara
        .group__last__massage プログラミング難しい

    #main-content

      .selected-group
        .selected-group__name Mentors

        .selected-group__members Members : sotatakahara

        .selected-group__edit-box
          .selected-group__edit-box__text Edit

      .message-area
        .messages 
          .message-info
            .message-info__owner SotaTakahara
            .message-info__updated-time 2017/2/6 22:45:30
          .massage-content プログラミング難しい

      .massage-input
        %textarea{placeholder: '  type a message'}
        %i{class:"fa fa-image"}
        .send-box
          .send-box__text Send

