.notice{
  background-color: $light-blue;
  height: 28px;
  color: $other-text-color;
  font-size: 18px;
  text-align: center;
}

.alert{
  background-color: $light-blue;
  height: 28px;
  color: $other-text-color;
  font-size: 18px;
  text-align: center;
}
