html{
  width: 100%;
}

body{


  p{
    font-size: 18px;
    color: $other-text-color;
    text-align: center;
  }

  #container{
    width: 100%;
    position: fixed;
    height: 872px;

    #side-content{
      width: 300px;
      float: left;
      height: 100%;
      background-color: $side-content-color;

      .user-info{
        background-color: $user-info-color;
        height: 100px;

        i.fa-cog{
          font-size: 20px;
          color: $other-text-color;
          height: 20px;
          position: absolute;
          padding: 40px 0px 50px 260px;
          float: left;
        }
        i.fa-pencil-square-o{
         font-size: 20px;
         color: $other-text-color;
         height: 20px;
         position: absolute;
         padding: 40px 0px 50px 230px;
         float: left;
       }

       .User-info__name{
        font-size: 16px;
        height: 20px;
        width: 200px;
        font-weight: bold;
        color: $other-text-color;
        position: absolute;
        margin: 40px 100px 50px 20px;
      }
    }
    ul.groups{
      height: 100px;
      width: 300px;
      position: absolute;

      li.group{
        color: $other-text-color;

        .group__name{
          font-size: 15px;
          margin: 20px 200px 0px 20px;
        }
        .group__last__massage{
          margin-top: 3px;
          font-size: 11px;
          padding: 0px 200px 40px 20px;
        }
      }
    }
  }

  #main-content{
    width: calc(100vw - 300px);
    height: 100%;
    float: left;

    .selected-group{
      height: 100px;
      background-color: $base-color;

      .selected-group__name{
        font-size: 20px;
        width: 100px;
        height: 20px;
        color: $main-text-color;
        position: absolute;
        margin: 35px 0px 0px 40px;
      }

      .selected-group__members{
        width: 100%;
        font-size: 12px;
        color: $light-black;
        position: absolute;
        margin: 75px 0px 15px 40px;
      }

      .selected-group__edit-box{
        height: 40px;
        width: 68px;
        margin: 28px 20px 28px 1020px;
        border: solid;
        border-color: $light-blue;
        position: absolute;
        font-weight: 100;

        .selected-group__edit-box__text{
          color: $light-blue;
          font-size: 20px;
          position: absolute;
          margin: 5px 13px;
          font-weight: 200;
        }
      }
    }

    .message-area{
      border: $border;
      height: calc(100vh - 190px);
      background-color: $message-area-color;

      ul.messages{
        height: 100px;
        padding: 40px 0px 40px 40px;

        li.message{

          .message-info{
            .message-info__owner{
             font-size: 16px;
             font-weight: bold;
             color: $main-text-color;
             float: left;
           }

           .message-info__updated-time{
            font-size: 12px;
            color: $light-black;
            float: left;
            margin: 3px 0px 0px 10px;
          }
        }
        .message-content{
          font-size: 14px;
          color: $main-text-color;
          margin-top: 30px;
          clear: left;
        }
      }
    }

  }
  .message-input{
    height: 90px;
    background-color:$message-input-area-color;

    .message-input_area{
      background-color: $base-color;
      position: absolute;
      width: 750px;
      height: 50px;
      margin: 20px 20px 0px 35px;
      color: $main-text-color;
      font-size: 16px;
      text-align: left;
      line-height: 50px;

      textarea{
        width:950px;
      }


    }

i.fa.fa-picture-o.fa-lg{
        position: absolute; 
        margin-left: 950px;
        margin-top: 35px;
        color: $light-black
      }

    .send-box{
      background-color: $light-blue;
      height: 50px;
      width: 100px;
      margin: 20px 20px 20px 1000px;
      position: absolute;
      color: $other-text-color;
    }
  }
}
}
}
