$light-blue:#38AEF0;

$message-area-color: #F9F9F9;

$user-info-color: #253141;

$side-content-color: #2f3e51;

$other-text-color: white;
$main-text-color: #333;

$base-color: white;

$light-black:#999;

